<div class="col-md-4 mt20">
        <div class="post-img">
           <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.2361201643943787%2C52.62043686688748%2C1.239660680294037%2C52.62213357347144&amp;layer=mapnik&amp;marker=52.62128522840047%2C1.2378904223442078" style="border: 1px solid black"></iframe>
           <br/><small><a href="https://www.openstreetmap.org/#map=15/52.6209/1.2321">View larger map</a></small>
        </div>
</div>
