.pubs {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    > p {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }

    &:before{
        width: 100%;
        height: 8px;
        content: "";
        display: block;
        position: absolute;
        background: $light;
        bottom: 0;
    }
}

.pubs-bar {
    width: 100%;
    height: 8px;
    background: $primary;
    display: block;
    position: relative;

    span{
        position: absolute;
        border-top: 5px solid inherit;
        top: -30px;
        padding: 0;
        font-size: 18px;
        padding: 3px 0;
        font-weight: 500;
        right: -12px;
    }

    .below{
        color: #00f;
        top: 35px;
    }
}

.pubs-bar.pubs-bar-2020 { background: #fde725; }
.pubs-bar.pubs-bar-2019 { background: #8fd744; }
.pubs-bar.pubs-bar-2018 { background: #35b779; }
.pubs-bar.pubs-bar-2017 { background: #21908c; }
.pubs-bar.pubs-bar-2016 { background: #31688e; }
.pubs-bar.pubs-bar-2015 { background: #443a83; }

@for $i from 0 through 9 {
    .pubs-#{$i} { width: percentage(($i+0.5)/9.5); }
}
